In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
from tqdm import tqdm
import os

In [2]:
_dir = '_19'
_file_ls = os.listdir(_dir)
_file_ls

['_1901_freezer_log.csv',
 '_1901_suhp_log.csv',
 '_1901_suth_log.csv',
 '_1902_freezer_log.csv',
 '_1902_suhp_log.csv',
 '_1902_suth_log.csv',
 '_1903_freezer_log.csv',
 '_1903_suhp_log.csv',
 '_1903_suth_log.csv']

In [3]:
freez1 = pd.read_csv(os.path.join(_dir, _file_ls[0]))
suth1 = pd.read_csv(os.path.join(_dir, _file_ls[2]))

In [4]:
freez1.columns
freez1.columns = ['freezer_id', 'gw_time', 'status', 'fan_run', 'fan_trip',
       'freez_run', 'freez_trip', 'defrost', 'ctrl_mode', 'ctrl_operation',
       'operation', 'run_time', 'insert_dt']

In [5]:
suth1.columns
suth1.columns = ['sensor_id', 'gw_time', 'status', 'color_list', 'avg_temperature',
       'avg_humidity', 'temperature', 'humidity', 'battery', 'available',
       'insert_dt']

In [6]:
freez1.head(3)

,freezer_id,gw_time,status,fan_run,fan_trip,freez_run,freez_trip,defrost,ctrl_mode,ctrl_operation,operation,run_time,insert_dt
0,61,2019-01-01 00:00:39,1,1.0,0.0,1.0,0.0,0.0,1,1,1,0,2019-01-01 00:00:40
1,61,2019-01-01 00:01:10,1,1.0,0.0,1.0,0.0,0.0,1,1,1,1,2019-01-01 00:01:10
2,61,2019-01-01 00:01:40,1,1.0,0.0,1.0,0.0,0.0,1,1,1,1,2019-01-01 00:01:40

In [7]:
suth1.head(3)

,sensor_id,gw_time,status,color_list,avg_temperature,avg_humidity,temperature,humidity,battery,available,insert_dt
0,51,2019-01-01 00:00:38,1,"{""humidity"": ""green"", ""temperature"": ""green"", ...",-29.03,74.85,-28.17,77.22,100,1,2019-01-01 00:00:38
1,51,2019-01-01 00:01:08,1,"{""humidity"": ""green"", ""temperature"": ""green"", ...",-29.07,74.75,-28.20,77.08,100,1,2019-01-01 00:01:08
2,51,2019-01-01 00:01:38,1,"{""humidity"": ""green"", ""temperature"": ""green"", ...",-29.10,74.66,-28.23,76.96,100,1,2019-01-01 00:01:38

In [8]:
freezer = freez1.copy()
freezer['key'] = [None]*len(freezer)

In [9]:
sensor_id_16 = [431, 440, 449, 461]
freezer_id_16 = [308,314,320,326]
sensor_16 = pd.DataFrame()
freezer_16 = pd.DataFrame()
for elem in sensor_id_16:
    sensor_16 = pd.concat([sensor_16, suth1[suth1['sensor_id'] == elem]])
    print("sensor id {}의 데이터 개수: {}".format(elem, len(suth1[suth1['sensor_id'] == elem])))
for elem in freezer_id_16:
    freezer_16 = pd.concat([freezer_16, freezer[freezer['freezer_id'] == elem]])
    print("freezer id {}의 데이터 개수: {}".format(elem, len(freezer[freezer['freezer_id'] == elem])))


print(sensor_16['sensor_id'].unique())
print(freezer_16['freezer_id'].unique())

sensor id 431의 데이터 개수: 6489
sensor id 440의 데이터 개수: 6489
sensor id 449의 데이터 개수: 6469
sensor id 461의 데이터 개수: 6469
freezer id 308의 데이터 개수: 7023
freezer id 314의 데이터 개수: 7023
freezer id 320의 데이터 개수: 7023
freezer id 326의 데이터 개수: 7023
[431 440 449 461]
[308 314 320 326]

In [10]:
# 1월 데이터는 29일 부터 수집이므로 freezer 앞부분 데이터 삭제
freezer_16 = freezer_16.sort_values(by = 'gw_time', ascending= True).reset_index(drop = True)
freezer_16 = freezer_16.reset_index(drop = True)
freezer_16

,freezer_id,gw_time,status,fan_run,fan_trip,freez_run,freez_trip,defrost,ctrl_mode,ctrl_operation,operation,run_time,insert_dt,key
0,308,2019-01-29 13:56:14,1,0.0,0.0,0.0,0.0,1.0,1,1,1,836,2019-01-29 13:56:15,None
1,320,2019-01-29 13:56:14,1,1.0,0.0,1.0,0.0,0.0,1,1,1,836,2019-01-29 13:56:15,None
2,326,2019-01-29 13:56:14,1,1.0,0.0,0.0,0.0,0.0,1,1,1,836,2019-01-29 13:56:15,None
3,314,2019-01-29 13:56:14,1,1.0,0.0,0.0,0.0,0.0,1,1,1,836,2019-01-29 13:56:15,None
4,308,2019-01-29 13:56:15,1,0.0,0.0,0.0,0.0,1.0,1,1,1,836,2019-01-29 13:56:15,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28087,308,2019-01-31 23:59:19,1,1.0,0.0,0.0,0.0,0.0,0,1,1,1439,2019-01-31 23:59:19,None
28088,314,2019-01-31 23:59:49,1,1.0,0.0,0.0,0.0,0.0,0,1,1,1439,2019-01-31 23:59:49,None
28089,308,2019-01-31 23:59:49,1,1.0,0.0,0.0,0.0,0.0,0,1,1,1439,2019-01-31 23:59:49,None
28090,320,2019-01-31 23:59:49,1,1.0,0.0,0.0,0.0,0.0,0,1,1,1439,2019-01-31 23:59:49,None
28091,326,2019-01-31 23:59:49,1,1.0,0.0,0.0,0.0,0.0,0,1,1,1439,2019-01-31 23:59:49,None

In [11]:
sensor_16

,sensor_id,gw_time,status,color_list,avg_temperature,avg_humidity,temperature,humidity,battery,available,insert_dt
562164,431,2019-01-29 15:38:50,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",3.50,42.69,3.83,40.31,100,1,2019-01-29 15:38:50
562165,431,2019-01-29 15:38:59,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",3.51,42.68,3.84,40.30,100,1,2019-01-29 15:38:59
562166,431,2019-01-29 15:39:29,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",3.52,42.64,3.86,40.25,100,1,2019-01-29 15:39:29
562167,431,2019-01-29 15:39:59,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",3.53,42.65,3.88,40.25,100,1,2019-01-29 15:39:59
562168,431,2019-01-29 15:40:31,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",3.55,42.59,3.89,40.23,100,1,2019-01-29 15:40:30
...,...,...,...,...,...,...,...,...,...,...,...
600417,461,2019-01-31 23:57:47,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",4.05,38.93,3.92,41.08,100,1,2019-01-31 23:57:47
600418,461,2019-01-31 23:58:17,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",4.06,38.90,3.93,41.08,100,1,2019-01-31 23:58:18
600419,461,2019-01-31 23:58:48,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",4.08,38.90,3.95,41.06,100,1,2019-01-31 23:58:48
600420,461,2019-01-31 23:59:18,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",4.08,38.88,3.96,41.02,100,1,2019-01-31 23:59:18
600421,461,2019-01-31 23:59:48,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",4.09,38.87,3.96,41.00,100,1,2019-01-31 23:59:48

In [12]:
sensor_16['key'] = [x for x in range(len(sensor_16))]

In [13]:
suth_4elem = sensor_16.reset_index(drop = True)
suth_4elem['gw_time'] = pd.to_datetime(suth_4elem['gw_time'])
freezer_16['gw_time'] = pd.to_datetime(freezer_16['gw_time'])
from tqdm import tqdm
for i in tqdm(range(len(suth_4elem))):
    freezer_16.loc[(suth_4elem.loc[i,'gw_time']-freezer_16['gw_time'] <=  dt.timedelta(seconds=30)) & (suth_4elem.loc[i,'gw_time']- freezer_16['gw_time'] >= dt.timedelta(seconds=0)), 'key'] = suth_4elem.loc[i,'key']

100%|██████████| 25916/25916 [00:45<00:00, 573.69it/s]

In [14]:
suth_4elem.sort_values(by = 'gw_time')
suth_4elem['key'] = suth_4elem['key'].astype('object')

In [15]:
suth_4elem

,sensor_id,gw_time,status,color_list,avg_temperature,avg_humidity,temperature,humidity,battery,available,insert_dt,key
0,431,2019-01-29 15:38:50,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",3.50,42.69,3.83,40.31,100,1,2019-01-29 15:38:50,0
1,431,2019-01-29 15:38:59,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",3.51,42.68,3.84,40.30,100,1,2019-01-29 15:38:59,1
2,431,2019-01-29 15:39:29,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",3.52,42.64,3.86,40.25,100,1,2019-01-29 15:39:29,2
3,431,2019-01-29 15:39:59,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",3.53,42.65,3.88,40.25,100,1,2019-01-29 15:39:59,3
4,431,2019-01-29 15:40:31,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",3.55,42.59,3.89,40.23,100,1,2019-01-29 15:40:30,4
...,...,...,...,...,...,...,...,...,...,...,...,...
25911,461,2019-01-31 23:57:47,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",4.05,38.93,3.92,41.08,100,1,2019-01-31 23:57:47,25911
25912,461,2019-01-31 23:58:17,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",4.06,38.90,3.93,41.08,100,1,2019-01-31 23:58:18,25912
25913,461,2019-01-31 23:58:48,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",4.08,38.90,3.95,41.06,100,1,2019-01-31 23:58:48,25913
25914,461,2019-01-31 23:59:18,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",4.08,38.88,3.96,41.02,100,1,2019-01-31 23:59:18,25914
25915,461,2019-01-31 23:59:48,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",4.09,38.87,3.96,41.00,100,1,2019-01-31 23:59:48,25915

In [16]:
freezer_16

,freezer_id,gw_time,status,fan_run,fan_trip,freez_run,freez_trip,defrost,ctrl_mode,ctrl_operation,operation,run_time,insert_dt,key
0,308,2019-01-29 13:56:14,1,0.0,0.0,0.0,0.0,1.0,1,1,1,836,2019-01-29 13:56:15,None
1,320,2019-01-29 13:56:14,1,1.0,0.0,1.0,0.0,0.0,1,1,1,836,2019-01-29 13:56:15,None
2,326,2019-01-29 13:56:14,1,1.0,0.0,0.0,0.0,0.0,1,1,1,836,2019-01-29 13:56:15,None
3,314,2019-01-29 13:56:14,1,1.0,0.0,0.0,0.0,0.0,1,1,1,836,2019-01-29 13:56:15,None
4,308,2019-01-29 13:56:15,1,0.0,0.0,0.0,0.0,1.0,1,1,1,836,2019-01-29 13:56:15,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28087,308,2019-01-31 23:59:19,1,1.0,0.0,0.0,0.0,0.0,0,1,1,1439,2019-01-31 23:59:19,25915
28088,314,2019-01-31 23:59:49,1,1.0,0.0,0.0,0.0,0.0,0,1,1,1439,2019-01-31 23:59:49,None
28089,308,2019-01-31 23:59:49,1,1.0,0.0,0.0,0.0,0.0,0,1,1,1439,2019-01-31 23:59:49,None
28090,320,2019-01-31 23:59:49,1,1.0,0.0,0.0,0.0,0.0,0,1,1,1439,2019-01-31 23:59:49,None
28091,326,2019-01-31 23:59:49,1,1.0,0.0,0.0,0.0,0.0,0,1,1,1439,2019-01-31 23:59:49,None

In [20]:
df = pd.merge(freezer_16, suth_4elem, how = 'inner', on = 'key').sort_values(by = 'key')
key = df['key']
gw_time_x = df['gw_time_x']
gw_time_y = df['gw_time_y']
df = df.drop(columns= ['key','gw_time_x','gw_time_y'])
df.insert(0,'key',key)
df.insert(1,'gw_time_x',gw_time_x)
df.insert(2,'gw_time_y',gw_time_y)
df

,key,gw_time_x,gw_time_y,freezer_id,status_x,fan_run,fan_trip,freez_run,freez_trip,defrost,...,sensor_id,status_y,color_list,avg_temperature,avg_humidity,temperature,humidity,battery,available,insert_dt_y
8888,8648,2019-01-30 11:25:20,2019-01-30 11:25:34,308,1,1.0,0.0,0.0,0.0,0.0,...,440,0,"{""humidity"": ""yellow"", ""temperature"": ""red"", ""...",-18.64,63.73,-18.38,60.43,100,1,2019-01-30 11:25:34
8890,8648,2019-01-30 11:25:20,2019-01-30 11:25:34,326,1,1.0,0.0,0.0,0.0,0.0,...,440,0,"{""humidity"": ""yellow"", ""temperature"": ""red"", ""...",-18.64,63.73,-18.38,60.43,100,1,2019-01-30 11:25:34
8891,8648,2019-01-30 11:25:20,2019-01-30 11:25:34,320,1,1.0,0.0,0.0,0.0,0.0,...,440,0,"{""humidity"": ""yellow"", ""temperature"": ""red"", ""...",-18.64,63.73,-18.38,60.43,100,1,2019-01-30 11:25:34
8889,8648,2019-01-30 11:25:20,2019-01-30 11:25:34,314,1,1.0,0.0,1.0,0.0,0.0,...,440,0,"{""humidity"": ""yellow"", ""temperature"": ""red"", ""...",-18.64,63.73,-18.38,60.43,100,1,2019-01-30 11:25:34
0,19447,2019-01-29 15:38:26,2019-01-29 15:38:50,314,1,1.0,0.0,0.0,0.0,0.0,...,461,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",3.50,42.69,3.25,45.30,100,1,2019-01-29 15:38:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26461,25914,2019-01-31 23:58:48,2019-01-31 23:59:18,326,1,1.0,0.0,0.0,0.0,0.0,...,461,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",4.08,38.88,3.96,41.02,100,1,2019-01-31 23:59:18
26465,25915,2019-01-31 23:59:19,2019-01-31 23:59:48,326,1,1.0,0.0,0.0,0.0,0.0,...,461,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",4.09,38.87,3.96,41.00,100,1,2019-01-31 23:59:48
26466,25915,2019-01-31 23:59:19,2019-01-31 23:59:48,314,1,1.0,0.0,0.0,0.0,0.0,...,461,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",4.09,38.87,3.96,41.00,100,1,2019-01-31 23:59:48
26464,25915,2019-01-31 23:59:19,2019-01-31 23:59:48,320,1,1.0,0.0,0.0,0.0,0.0,...,461,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",4.09,38.87,3.96,41.00,100,1,2019-01-31 23:59:48
26467,25915,2019-01-31 23:59:19,2019-01-31 23:59:48,308,1,1.0,0.0,0.0,0.0,0.0,...,461,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",4.09,38.87,3.96,41.00,100,1,2019-01-31 23:59:48

In [18]:
# mapping 안된 데이터 개수
freezer_16['key'].isnull().sum()

1624